.authenticationBtnContainer {
    position: relative;
    height: 42px;
}

.authenticationBtn {
    color: var(--quaternary-color);
    font-weight: bold;
}

.authenticationBtn:hover {
    cursor: pointer;
    opacity: 80%;
}

.authenticationBtn {
    margin-right: 10px;
    @media screen and (min-width: ($semi-medium-device + 1px)) {
      font-size: 20px;
      padding: 0 20px;
      margin-right: 20px;
      border: 3px solid var(--quaternary-color);
    }
}

img {
    width: 34px;
    @media screen and (min-width: $small-device) {
      width: 42px;
    }
}

img:hover {
    opacity: 80%;
}