.title {
  font-size: 24px;
  color: var(--text-color);
  text-align: center;
  overflow: hidden;
  flex-grow: 1;
  min-width: 0;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 0 2px;
  width: 100%;
  border-radius: 4px;
  resize: none;
  &:hover, &:focus {
    border: 2px solid var(--border-color);
  }

  &::placeholder {
    color: var(--text-color);
  }

  @media screen and (min-width: $small-device) {
    text-align: justify;
  }
}