.title {
  font-size: 24px;
  color: var(--text-color);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;

  border: 2px solid transparent;
  border-radius: 4px;
  padding: 0 2px;
  width: 100%;
  border-radius: 4px;
  resize: none;
  overflow: hidden;
  &:hover, &:focus {
    border: 2px solid var(--border-color);
  }

  &::placeholder {
    color: var(--text-color);
  }

  @media screen and (min-width: $semi-small-device) {
    max-width: 100%;
  }

  @media screen and (min-width: $small-device) {
    max-width: 70%;
    text-align: justify;
  }

  @media screen and (min-width: $semi-medium-device) {
    max-width: 78%;
  }

  @media screen and (min-width: $medium-device) {
    max-width: 82%;
  }

  @media screen and (min-width: $semi-large-device) {
    max-width: 78%;
  }

  @media screen and (min-width: $large-device) {
    max-width: 82%;
  }
}