//Light Mode Colors:

.light {
  --primary-color: #fff;
  --secondary-color: #061A40;
  --tertiary-color: #000;
  --quaternary-color: #fff;
}

//Dark Mode Colors:
.dark {
  --primary-color: #0D1333;
  --secondary-color: #061A40;
  --tertiary-color: #1D2F51;
  --quaternary-color: #C8D0DE;
}