//Light Mode Colors:

.light {
  --primary-color: #fff;
  --secondary-color: #061A40;
  --tertiary-color: #FFF;
  --quaternary-color: #fff;
  --text-color: #000;
  --shadow-color: rgba(0,0,0,0.25);
  --border-color: #000;
  --pageMessage-color: #C0C0C0;
}

//Dark Mode Colors:
.dark {
  --primary-color: #0D1333;
  --secondary-color: #061A40;
  --tertiary-color: #1D2F51;
  --quaternary-color: #C8D0DE;
  --text-color: #C8D0DE;
  --shadow-color: rgba(255, 255, 255, 0.25);
  --border-color: #808A9D;
  --pageMessage-color: #7F8693;
}

//Device sizes:
$large-device: 1528px;
$semi-large-device: 1440px;
$medium-device: 768px;
$semi-medium-device: 768px;
$small-device: 290px;