.managementMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  
  .managementTitle {
    text-align: center;
    margin: 25px 0;
    font-size: 24px;
    color: var(--text-color);
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
  
    @media screen and (min-width: $semi-medium-device) {
      width: 75%;
    }
  
    @media screen and (min-width: $medium-device) {
      width: 65%;
    }
  
    @media screen and (min-width: $semi-large-device) {
      width: 50%;
    }
  }
}

