// bg-primary w-full text-white text-center p-8 shadow-[0_4px_8px_rgba(0,0,0,0.25)];

.pageHeader {
  background-color: var(--secondary-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  padding: 40px 15px;
  @media screen and (min-width: $medium-device) {
    padding: 40px;
  }

  #center, #right {
    flex: 1;
  }

  #left {
    @media screen and (min-width: $medium-device) {
      flex: 1;
    }
  }

  #center {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 28px;
      @media screen and (min-width: $medium-device) {
        font-size: 38px;
      }
    }
  }

  #right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
  }

  h1, .link {
    color: var(--quaternary-color);
    font-weight: bold;
  }

  h1:hover, .link {
    cursor: pointer;
  }

  .link {
    margin-right: 10px;
    @media screen and (min-width: ($medium-device + 1px)) {
      font-size: 20px;
      padding: 0 20px;
      margin-right: 20px;
      border: 3px solid var(--quaternary-color);}
  }

  
  img {
    width: 34px;
    @media screen and (min-width: $small-device) {
      width: 42px;
    }
  }
}