.managementMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  
  .managementTitle {
    text-align: center;
    margin: 25px 0;
    font-size: 24px;
    color: var(--text-color);
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    min-height: 100%;
    margin: auto;

    flex: 2;
  
    @media screen and (min-width: $semi-medium-device) {
      width: 75%;
    }
  
    @media screen and (min-width: $medium-device) {
      width: 65%;
    }
  
    @media screen and (min-width: $semi-large-device) {
      width: 50%;
    }
  }

  .pageMessage {
    margin: auto 0;
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: var(--pageMessage-color);
    font-size: 20px;

    @media screen and (min-width: $small-device) {
      font-size: 24px;
    }
  }
}

