.articlePageContainer {
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .pageMessageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .pageMessage {
      text-align: center;
      font-weight: bold;
      font-style: italic;
      color: var(--pageMessage-color);
      font-size: 20px;
      padding: 0 20px;
  
      @media screen and (min-width: $small-device) {
        font-size: 24px;
      }
    }
  }
}
