article {
  border: 2px solid var(--border-color);
  margin-bottom: 25px;
  box-shadow: 0 0 8px var(--shadow-color);
  padding: 20px; //!!!!!!!!!!!!
  border-radius: 8px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  
  @media screen and (min-width: $medium-device) {
    flex-direction: row;
    justify-content: space-between;
  }


  .articleTextualContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: $medium-device) {
      margin-right: 25px;
    }

    .articleMainContent {
      margin-bottom: 10px;
      justify-content: center;
      align-items: center;
      

      .tagsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        
        @media screen and (min-width: $medium-device) {
          justify-content: flex-start;
        }

        .hiddenTags {
          visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;
          height: 0;
          overflow: hidden;
        }

        .tags, .ellipsisTag {
          white-space: nowrap;
          display: inline-block;
          margin: 15px 5px 0 5px;
          padding: 5px 15px;
          border: 1px solid black;
          border-radius: 8px;
          align-self: flex-start;
          font-weight: bold;
          background-color: var(--quaternary-color);
        }
      }

      .articleHead {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;

        @media screen and (min-width: $medium-device) {
         justify-content: space-between;
         flex-direction: row;
        }

        h4 {
          font-size: 24px;
          color: var(--text-color);
        }

        .publishDate {
          font-weight: bold;
          color: var(--text-color);
        }
      }

      .articleText {
        font-weight: bold;
        color: var(--text-color);
        height: 190px;
        text-align: justify;
        line-height: 24px; // altura de cada linha
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8; // (height / line-height)
        line-clamp: 8;
        overflow: hidden;
      }
    }

    .link {
      border: 1px solid black;
      font-weight: bold;
      padding: 8px 15px;
      border-radius: 8px;
      margin-top: 5px;
      background-color: var(--quaternary-color);
      align-self: auto;
      text-align: center;

      @media screen and (min-width: $medium-device) {
        align-self: flex-end;
      }
    }
  }

  img {
    border: 1px solid black;
    min-width: 200px;
    background-color: #c1c1c1;
    border-radius: 8px;
    object-fit: cover;

    @media screen and (min-width: $small-device) {
      min-width: 250px;
    }

    @media screen and (min-width: $semi-medium-device) {
      min-width: 300px;
    }

    @media screen and (min-width: $medium-device) {
      min-width: 350px;
    }

    @media screen and (min-width: $semi-large-device) {
      min-width: 300px;
    }

    @media screen and (min-width: $large-device) {
      min-width: 400px;
      height: 350px;
    }
  }
}