.managementPageContainer {
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .link {
    background-color: var(--button-color);
    color: var(--buttonText-color);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    text-align: center;
  }

  .link:hover {
    opacity: 85%;
  }
}