.pageHeader {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  padding: 40px 5%;
  @media screen and (min-width: $semi-medium-device) {
    
  }

  #center, #right {
    flex: 1;
  }

  #left {
    @media screen and (min-width: $semi-medium-device) {
      flex: 1;
    }
  }

  #center {
    display: flex;
    align-items: center;
    @media screen and (min-width: $semi-medium-device) {
      justify-content: center;
    }
    h1 {
      font-size: 28px;
      @media screen and (min-width: $semi-medium-device) {
        font-size: 38px;
      }
    }
  }

  #right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  h1, .link {
    color: var(--quaternary-color);
    font-weight: bold;
  }

  h1:hover, .link:hover {
    cursor: pointer;
    opacity: 80%;
  }

  .link {
    margin-right: 10px;
    @media screen and (min-width: ($semi-medium-device + 1px)) {
      font-size: 20px;
      padding: 0 20px;
      margin-right: 20px;
      border: 3px solid var(--quaternary-color);
    }
  }

  img {
    width: 34px;
    @media screen and (min-width: $small-device) {
      width: 42px;
    }
  }

  img:hover {
    opacity: 80%;
  }
}